
.typicalpage-images
{
background-color:black;
height:150px;
width: 210px;
text-align:center
}


.midpage-images
{
height:auto;
width: 280px;
text-align:center;
}


.midpage-images:hover
{
background-color:#b2b2b2;
height:auto;
width: 280px;
text-align:center;
}


