
.typicalpage-images
{
background-color:black;
height:150px;
width: 210px;
text-align:center
}


.midpage-images
{
height:auto;
width: autopx;
text-align:left;
}


.midpage-images:hover
{
height:auto;
width: auto;
text-align:left;
}


