body
{
height:auto;
width: 840px;
margin: 100px auto 50px auto;
color:#666666;
}

.top
{
height:30px;
width: 840px;
margin: 10px 10px 70px 10px;

}


.menu
{
height:120px;
width: 840px;
margin: 10px 10px 70px 10px;
}


.content
{
font-size:14px;
height:auto;
width: 840px;
margin: 10px 10px 90px 10px;
}

.text
{
height:auto;
width: 300px;
float: left;
margin: 0px 0px 100px 0px;
}

.choices
{
height:200px;
width: 200px;
float: left;
margin: 0px 0px 100px 0px;
}


.images
{
height:auto;
width: 510px;
float: right;
margin: 0px 0px 100px 0px;

}

