
	#about
	{
	height:100px;
	width:100px;
	text-align:center;
	float:left;
	}

	
	
	
	#resume
	{	height:100px;
	width:100px;
	text-align:center;
	float:left;
}
	
	
	
	#projects
	{	height:100px;
	width:100px;
	text-align:center;
	float:left;
	}
	

	#research
	{	height:100px;
	width:100px;
	text-align:center;
	float:left;
	}

	
	
	#workshops
	{		height:100px;
	width:100px;
	text-align:center;
	float:left;
	}
	
	
	
	
	
	#publications
	{		height:100px;
	width:100px;
	text-align:center;
	float:left;
	}
	
	
	#travel
	{		height:100px;
	width:100px;
	text-align:center;
	float:left;
	}
	
	
	
	#contact
	{		height:100px;
	width:100px;
	text-align:center;
	float:left;
	}
	